node-red/Unit_Tests.json
[
    {
        "id": "8b7d06cf1eb39e35",
        "type": "tab",
        "label": "bacnet-esp-tests",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a03fc88433b38bf0",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "TO CONFIGURE",
        "func": "flow.set('ip', \"192.168.1.106\");\nflow.set('port', \"47808\");\nflow.set('ipBroadcast', \"192.168.1.255\");\nflow.set('sourcePort',\"48809\");\nflow.set('connectivityType',\"WiFi\"); /* WiFi/4G */\nflow.set('deviceInstance',1234 );\nflow.set('UTC+',2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2b91705ccea3242a",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "a03fc88433b38bf0"
            ]
        ]
    },
    {
        "id": "75a95b66c42487f0",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "Connectivity (4G/WiFi) (0)",
        "func": "if (msg.payload != false)\n{\n    let temp = flow.get(\"tests\");\n    temp.connectivity = true;\n    flow.set(\"tests\", temp);\n}\nlet step = flow.get('step');\nstep++;\nflow.set('step',step);\nmsg.payload = \"START\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "8751f7813b84f7a0"
            ]
        ]
    },
    {
        "id": "298077ef917bc4e4",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "ephemeride/weekly (3)",
        "func": "    let step = flow.get('step');\n    let client = new bacnet.default({\n        apduTimeout: 2000,\n        broadcastAddress: flow.get('ipBroadcast'),\n        port: flow.get('port'),\n        maxSegments: bacnet.MaxSegmentsAccepted.SEGMENTS_65\n    });\n\n\n            switch (msg.payload)   \n            {\n\n                \n                default:\n                    try \n                    {\n                    const address = { address:flow.get('ip')+\":\"+flow.get('port')};\n                    const value = await client.readProperty(\n                        address,\n                        { type: bacnet.ObjectType.SCHEDULE, instance: 0},\n                        bacnet.PropertyIdentifier.WEEKLY_SCHEDULE\n                    );\n\n                    const weekly = (value.values[0]?.value) || [];\n                    \n                        const days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];\n                    \n                  \n\n                 \n\n                    let starttime = new Array;\n                    let endtime = new Array;\n                    \n                    for(let i = 0;i<7; i++)\n                    {\n                        let temp =  weekly[i];\n                     \n                        starttime[i] = bacnettimeConverter(temp[0].time.value);\n                        endtime[i] =   bacnettimeConverter(temp[1].time.value);\n                    }\n\n                    msg.payload = 'Are the night start/end times correct? \\n Press OK/NOT OK. \\n' + \n                    '\\n Monday :' + starttime[0] +' to ' + endtime[0] + \n                    '\\n Tuesday :' + starttime[1] + ' to ' + endtime[1] + \n                    '\\n Wednesday :' + starttime[2] + ' to ' + endtime[2] + \n                    '\\n Thursday :' + starttime[3] + ' to ' + endtime[3] + \n                    '\\n Friday :' + starttime[4] + ' to ' + endtime[4] + \n                    '\\n Saturday :' + starttime[5] + ' to ' + endtime[5] + \n                    '\\n Sunday :' + starttime[6] + ' to ' + endtime[6] \n                    node.send([null, msg]);\n                } catch (err) {\n                    node.error('Erreur: ' + JSON.stringify(err, Object.getOwnPropertyNames(err)));\n                }\n                \n    \n            break;\n        case (\"OK\"):\n\n            let temp = flow.get(\"tests\");\n            temp.ephemeride = true;\n            temp.weekly_schedule = true;\n            msg.payload = \"START\";\n            flow.set(\"tests\", temp);\n            step++;\n            flow.set('step',step);\n            return [msg, null];\n            break;\n        case (\"NOK\"):\n            step++;\n            flow.set('step',step);\n             msg.payload = \"START\";\n            return [msg, null];\n            break;\n        case (\"SKIP\"):\n            step++;\n            flow.set('step',step);\n            msg.payload = \"START\";\n            return [msg, null];\n            break;\n    }\n\n\n\n  function bacnettimeConverter(bacnetTime) {\n        let time = \"\";\n        for (let i = 16; i < 24; i++) {\n\n            time += bacnetTime.toString()[i];\n\n        }\n        var bacnetFullTime =  time;\n        return bacnetFullTime;\n    }",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bacnet",
                "module": "@bacnet-js/client"
            }
        ],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "885c0316ccae1346"
            ],
            [
                "bfcdae28443c3b9f"
            ]
        ]
    },
    {
        "id": "915a6ec5153742f5",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "trend log",
        "func": "let step = flow.get('step');\nstep++;\nflow.set('step',step);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "86c2f580b01702c3"
            ]
        ]
    },
    {
        "id": "859187eca8bebf59",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "set to date bacnet service",
        "func": "let step = flow.get('step');\nstep++;\nflow.set('step',step);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 360,
        "wires": [
            [
                "edb758cff2621840"
            ]
        ]
    },
    {
        "id": "91646748b2cb0baa",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "robustness",
        "func": "let step = flow.get('step');\nstep++;\nflow.set('step',step);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bacnet",
                "module": "@bacnet-js/client"
            }
        ],
        "x": 850,
        "y": 440,
        "wires": [
            [
                "64b6334bfa6a05e5"
            ]
        ]
    },
    {
        "id": "02213e2256d09d5b",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "create object",
        "func": "let step = flow.get('step');\nstep++;\nflow.set('step',step);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 400,
        "wires": [
            [
                "1f955fcc6047b0a2"
            ]
        ]
    },
    {
        "id": "37c6a4251a03e593",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "tests list",
        "func": "let tests = \n{\n    connectivity: false,\n    ntp_sync: false,\n    web_server: false,\n    rtc: false,\n    ephemeride: false,\n    weekly_schedule: false,\n    special_events: false,\n    multi_state_values_light_state: false,\n    trend_log: false,\n    set_to_date_bacnet_service: false,\n    wiFi_acces_point_with_4G: false,\n    create_object: false,\n    robustness: false\n};\n\nlet step = 0;\n\nflow.set('step',step);\nflow.set('tests',tests);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "7d0299fbde334ed8"
            ]
        ]
    },
    {
        "id": "2b62f5bbac4c90d6",
        "type": "ui-button",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "DONE button",
        "label": "Done",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "DONE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "ef27b18ffdbd21c6"
            ]
        ]
    },
    {
        "id": "85de2ef0db0f8969",
        "type": "ui-button",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "OK button",
        "label": "OK",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "OK",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#23FF23",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "f3d1d26f28211c5c"
            ]
        ]
    },
    {
        "id": "a0fa3c63b231b6e6",
        "type": "ui-button",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "NOT OK button",
        "label": "NOT OK",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "NOK",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#FF2323",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1040,
        "y": 100,
        "wires": [
            [
                "d3a4b342507cd390"
            ]
        ]
    },
    {
        "id": "0e82609a69fe1692",
        "type": "ui-text",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "instructions",
        "label": "Instructions",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#3c3939",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "d3a4b342507cd390",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out NOT OK button",
        "mode": "link",
        "links": [
            "ea5f227986c8b522"
        ],
        "x": 1165,
        "y": 100,
        "wires": []
    },
    {
        "id": "f3d1d26f28211c5c",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out OK button",
        "mode": "link",
        "links": [
            "ea5f227986c8b522"
        ],
        "x": 1145,
        "y": 140,
        "wires": []
    },
    {
        "id": "ef27b18ffdbd21c6",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out Done button",
        "mode": "link",
        "links": [
            "ea5f227986c8b522"
        ],
        "x": 1145,
        "y": 180,
        "wires": []
    },
    {
        "id": "d0d2f6f6da733d09",
        "type": "link in",
        "z": "8b7d06cf1eb39e35",
        "name": "link in instructions",
        "links": [
            "e9a70ca434d50595",
            "bfcdae28443c3b9f"
        ],
        "x": 905,
        "y": 60,
        "wires": [
            [
                "0e82609a69fe1692"
            ]
        ]
    },
    {
        "id": "27cf69f1bf400d1e",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 890,
        "y": 100,
        "wires": [
            [
                "a0fa3c63b231b6e6"
            ]
        ]
    },
    {
        "id": "73d917d407b1a40f",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 890,
        "y": 140,
        "wires": [
            [
                "85de2ef0db0f8969"
            ]
        ]
    },
    {
        "id": "e40d43d34bc1afb0",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 890,
        "y": 180,
        "wires": [
            [
                "2b62f5bbac4c90d6"
            ]
        ]
    },
    {
        "id": "b1fd28e5041f6986",
        "type": "ui-button",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "Skip step button",
        "label": "Skip step",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "SKIP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#FFFF00",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1040,
        "y": 220,
        "wires": [
            [
                "4a188a87b5126d29"
            ]
        ]
    },
    {
        "id": "4a188a87b5126d29",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out Skip step button",
        "mode": "link",
        "links": [
            "ea5f227986c8b522"
        ],
        "x": 1165,
        "y": 220,
        "wires": []
    },
    {
        "id": "b00f4e05f01a69af",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 890,
        "y": 220,
        "wires": [
            [
                "b1fd28e5041f6986"
            ]
        ]
    },
    {
        "id": "e672621317826fc7",
        "type": "ping",
        "z": "8b7d06cf1eb39e35",
        "protocol": "IPv4",
        "mode": "triggered",
        "name": "",
        "host": "192.168.1.106",
        "timer": "20",
        "inputs": 1,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "75a95b66c42487f0"
            ]
        ]
    },
    {
        "id": "d8200f5432fa66a6",
        "type": "ui-button",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "Start test button",
        "label": "restart tests",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#0FF0F0",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "37c6a4251a03e593"
            ]
        ]
    },
    {
        "id": "bfcdae28443c3b9f",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out RTC instructions",
        "mode": "link",
        "links": [
            "d0d2f6f6da733d09"
        ],
        "x": 585,
        "y": 360,
        "wires": []
    },
    {
        "id": "f26b2cdf2897e850",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "NTP sync (1)",
        "func": "    let step = flow.get('step');\n    let client = new bacnet.default({\n        apduTimeout: 2000,\n        broadcastAddress: flow.get('ipBroadcast'),\n        port: flow.get('port'),\n        maxSegments: bacnet.MaxSegmentsAccepted.SEGMENTS_65\n    });\n\n    switch (msg.payload) {\n\n\n        case (\"START\"):\n\n            msg.payload = \"Shut down the device, wait a few seconds, turn it back on, wait for it to finish booting, then click 'done'\";\n            node.send([null, msg]);\n            break;\n        case (\"DONE\"):\n            let datevalue = await client.readProperty({\n                address: flow.get('ip')\n            }, {\n                instance: flow.get('deviceInstance'),\n                type: 8\n            }, bacnet.PropertyIdentifier.LOCAL_DATE);\n\n            let timevalue = await client.readProperty({\n                address: flow.get('ip')\n            }, {\n                instance: flow.get('deviceInstance'),\n                type: 8\n            }, bacnet.PropertyIdentifier.LOCAL_TIME);\n\n            let parsedTime = timeConverter(flow.get('time'));\n            let bacnetFullTime = bacnettimeConverter(datevalue.values[0].value, timevalue.values[0].value);\n            msg.payload = 'Is the device current time conform ? \\n Press OK/NOT OK. \\n device time : ' + bacnetFullTime + ' \\n UTC time : ' + parsedTime;\n            node.send([null, msg]);\n            break;\n        case (\"OK\"):\n            let temp = flow.get(\"tests\");\n            temp.ntp_sync = true;\n            temp.rtc = true;\n            flow.set(\"tests\", temp);\n            msg.payload = \"interogating web server\";\n            node.send([null, msg]);\n            msg.payload = \"START\";\n            step++;\n  \n            flow.set('step',step);\n            return [msg, null];\n            break;\n        case (\"NOK\"):\n        \n            msg.payload = \"interogating web server\";\n            node.send([null, msg]);\n            msg.payload = \"START\";\n            step++;\n\n            flow.set('step',step);\n            return [msg, null];\n            break;\n        case (\"SKIP\"):\n        \n            msg.payload = \"interogating web server\";\n            node.send([null, msg]);\n            msg.payload = \"START\";\n            \n            step++;\n\n            flow.set('step',step);\n            return [msg, null];\n            break;\n\n    }\n\n    function timeConverter(UNIX_timestamp) {\n        var a = new Date(UNIX_timestamp * 1000);\n        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n        var year = a.getFullYear();\n        var month = months[a.getMonth()];\n        var date = a.getDate();\n        var hour = a.getHours();\n        var min = a.getMinutes();\n        var sec = a.getSeconds();\n        var time = month + ' ' + date + ' ' + year + ' ' + hour + ':' + min + ':' + sec;\n        return time;\n    }\n\n    function bacnettimeConverter(bacnetDate, bacnetTime) {\n        let date = \"\";\n        let time = \"\";\n        for (let i = 4; i < 15; i++) {\n            date += bacnetDate.toString()[i];\n        }\n        for (let i = 16; i < 24; i++) {\n\n            time += bacnetTime.toString()[i];\n\n        }\n        var bacnetFullTime = date + ' ' + time;\n        return bacnetFullTime;\n    }\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bacnet",
                "module": "@bacnet-js/client"
            }
        ],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "5ba630764cac92b1"
            ],
            [
                "e9a70ca434d50595"
            ]
        ]
    },
    {
        "id": "46e019e2cfaabe93",
        "type": "http request",
        "z": "8b7d06cf1eb39e35",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.106",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "64dd42254d9e9bb3"
            ]
        ]
    },
    {
        "id": "d9a69ad4a5da8d9e",
        "type": "switch",
        "z": "8b7d06cf1eb39e35",
        "name": "scheduler",
        "property": "step",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 17,
        "x": 200,
        "y": 420,
        "wires": [
            [
                "e672621317826fc7"
            ],
            [
                "f26b2cdf2897e850"
            ],
            [
                "46e019e2cfaabe93"
            ],
            [
                "298077ef917bc4e4"
            ],
            [
                "63e328cf752afec8"
            ],
            [
                "915a6ec5153742f5"
            ],
            [
                "b1f8f76ccdd2dee5"
            ],
            [
                "c186a1a9bcaca7f8"
            ],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "27bdb4d6632ee748",
        "type": "link in",
        "z": "8b7d06cf1eb39e35",
        "name": "next step",
        "links": [
            "18558b2df522dc49",
            "1f955fcc6047b0a2",
            "2dcda73e51c938e2",
            "5ba630764cac92b1",
            "5cab1d853519b253",
            "64b6334bfa6a05e5",
            "7d0299fbde334ed8",
            "7d27094bf2815fcb",
            "86c2f580b01702c3",
            "8751f7813b84f7a0",
            "885c0316ccae1346",
            "e6f0b3813cb76e48",
            "edb758cff2621840",
            "f19f1d9f1e044a7c",
            "05343baf24dfdf5e"
        ],
        "x": 85,
        "y": 440,
        "wires": [
            [
                "d9a69ad4a5da8d9e",
                "920a9234f295693b"
            ]
        ]
    },
    {
        "id": "7d0299fbde334ed8",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out RTC instructions",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 565,
        "y": 120,
        "wires": []
    },
    {
        "id": "2dcda73e51c938e2",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 535,
        "y": 380,
        "wires": []
    },
    {
        "id": "64b6334bfa6a05e5",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 965,
        "y": 440,
        "wires": []
    },
    {
        "id": "1f955fcc6047b0a2",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 965,
        "y": 400,
        "wires": []
    },
    {
        "id": "18558b2df522dc49",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 1045,
        "y": 480,
        "wires": []
    },
    {
        "id": "edb758cff2621840",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 1035,
        "y": 360,
        "wires": []
    },
    {
        "id": "86c2f580b01702c3",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 505,
        "y": 440,
        "wires": []
    },
    {
        "id": "885c0316ccae1346",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 585,
        "y": 340,
        "wires": []
    },
    {
        "id": "5ba630764cac92b1",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 535,
        "y": 240,
        "wires": []
    },
    {
        "id": "8751f7813b84f7a0",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 765,
        "y": 200,
        "wires": []
    },
    {
        "id": "e6f0b3813cb76e48",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 705,
        "y": 300,
        "wires": []
    },
    {
        "id": "ea5f227986c8b522",
        "type": "link in",
        "z": "8b7d06cf1eb39e35",
        "name": "link in RTC instructions",
        "links": [
            "4a188a87b5126d29",
            "d3a4b342507cd390",
            "ef27b18ffdbd21c6",
            "f3d1d26f28211c5c"
        ],
        "x": 85,
        "y": 400,
        "wires": [
            [
                "d9a69ad4a5da8d9e"
            ]
        ]
    },
    {
        "id": "808e00b29b95bacf",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "d8200f5432fa66a6"
            ]
        ]
    },
    {
        "id": "f960bacc052be1b0",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "e3dd665a96912f8a"
            ]
        ]
    },
    {
        "id": "e3dd665a96912f8a",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "Clock",
        "func": "let timeS = (msg.payload/1000) + 3600*flow.get('UTC+');\nflow.set(\"time\", timeS.toString())\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "920a9234f295693b",
        "type": "debug",
        "z": "8b7d06cf1eb39e35",
        "name": "debug ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 580,
        "wires": []
    },
    {
        "id": "e9a70ca434d50595",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out RTC instructions",
        "mode": "link",
        "links": [
            "d0d2f6f6da733d09"
        ],
        "x": 535,
        "y": 260,
        "wires": []
    },
    {
        "id": "08f3cc09508cab26",
        "type": "ui-table",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "Test results",
        "label": "RESULTS",
        "order": 7,
        "width": 0,
        "height": 0,
        "maxrows": "12",
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "lg",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1120,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b2837e3f42664aa3",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "results formater",
        "func": "let results = flow.get('tests');\nmsg.payload = results;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 260,
        "wires": [
            [
                "08f3cc09508cab26"
            ]
        ]
    },
    {
        "id": "a7675778e0a12091",
        "type": "link in",
        "z": "8b7d06cf1eb39e35",
        "name": "next step",
        "links": [
            "18558b2df522dc49",
            "1f955fcc6047b0a2",
            "2dcda73e51c938e2",
            "5ba630764cac92b1",
            "5cab1d853519b253",
            "64b6334bfa6a05e5",
            "7d0299fbde334ed8",
            "7d27094bf2815fcb",
            "86c2f580b01702c3",
            "8751f7813b84f7a0",
            "885c0316ccae1346",
            "e6f0b3813cb76e48",
            "edb758cff2621840",
            "f19f1d9f1e044a7c",
            "05343baf24dfdf5e"
        ],
        "x": 835,
        "y": 260,
        "wires": [
            [
                "b2837e3f42664aa3"
            ]
        ]
    },
    {
        "id": "64dd42254d9e9bb3",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "Webserver (2)",
        "func": "if(msg.statusCode == 200)\n{\n    let temp = flow.get(\"tests\");\n    temp.web_server = true;\n    flow.set(\"tests\", temp);\n}\nlet step = flow.get('step');\nstep++;\nflow.set('step',step);\nreturn msg;\n   \n\n    \n\n   ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bacnet",
                "module": "@bacnet-js/client"
            }
        ],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "e6f0b3813cb76e48"
            ]
        ]
    },
    {
        "id": "63e328cf752afec8",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "special events",
        "func": "    let step = flow.get('step');\n    let client = new bacnet.default({\n        apduTimeout: 2000,\n        broadcastAddress: flow.get('ipBroadcast'),\n        port: flow.get('port'),\n        maxSegments: bacnet.MaxSegmentsAccepted.SEGMENTS_65\n    });\n\n\n        switch (msg.payload)   \n        {\n\n                \n        default:\n        try {\n\n        const address = { address:flow.get('ip')+\":\"+flow.get('port')};\n        const value = await client.readProperty(\n            address,\n            { type: bacnet.ObjectType.SCHEDULE, instance: 5001 },\n            bacnet.PropertyIdentifier.EXCEPTION_SCHEDULE\n        );\n\n        node.warn('RAW VALUE: ' + JSON.stringify(value, null, 2));\n\n        const exceptions = (value.values[0]?.value) || [];\n\n        const result = exceptions.map((specialEvent, index) => {\n            // Inspecter chaque événement brut\n\n            // La structure peut être à un niveau différent selon le device/lib\n            const raw = specialEvent?.value ?? specialEvent;\n            const period = raw?.period ?? raw?.calendarEntry ?? raw;\n            const timeValues = (raw?.listOfTimeValues || raw?.timeValues || []).map(tv => ({\n                time: tv?.time,\n                value: tv?.value\n            }));\n        });\n\n    } catch (err) {\n        node.error('Erreur: ' + JSON.stringify(err, Object.getOwnPropertyNames(err)));\n    }    \n        break;\n\n        case (\"OK\"):\n\n            let temp = flow.get(\"tests\");\n            temp.special_events = true;\n            flow.set(\"tests\", temp);\n            step++;\n            flow.set('step',step);\n            return [msg, null];\n        break;\n        case (\"NOK\"):\n            step++;\n            flow.set('step',step);\n            return [msg, null];\n        break;\n        case (\"SKIP\"):\n            step++;\n            flow.set('step',step);\n            return [msg, null];\n        break;\n    }\n\n\n\n  function bacnettimeConverter(bacnetTime) {\n        let time = \"\";\n        for (let i = 16; i < 24; i++) {\n\n            time += bacnetTime.toString()[i];\n\n        }\n        var bacnetFullTime =  time;\n        return bacnetFullTime;\n    }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bacnet",
                "module": "@bacnet-js/client"
            }
        ],
        "x": 420,
        "y": 380,
        "wires": [
            [
                "2dcda73e51c938e2"
            ]
        ]
    },
    {
        "id": "e129e2a083baae01",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "4G with WiFi acces point",
        "func": "let step = flow.get('step');\nstep++;\nflow.set('step',step);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 480,
        "wires": [
            [
                "18558b2df522dc49"
            ]
        ]
    },
    {
        "id": "7d27094bf2815fcb",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 625,
        "y": 520,
        "wires": []
    },
    {
        "id": "c186a1a9bcaca7f8",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "muti state values light state",
        "func": "let step = flow.get('step');\nstep++;\nflow.set('step',step);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "7d27094bf2815fcb"
            ]
        ]
    },
    {
        "id": "b1f8f76ccdd2dee5",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "FRAM",
        "func": "let step = flow.get('step');\nstep++;\nflow.set('step',step);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "05343baf24dfdf5e"
            ]
        ]
    },
    {
        "id": "05343baf24dfdf5e",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "Next step",
        "mode": "link",
        "links": [
            "27bdb4d6632ee748",
            "a7675778e0a12091"
        ],
        "x": 485,
        "y": 480,
        "wires": []
    },
    {
        "id": "1e5232f94244e6dc",
        "type": "ui-group",
        "name": "Group 1",
        "page": "88c9c2fc2be39fca",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "88c9c2fc2be39fca",
        "type": "ui-page",
        "name": "Esps3_unit _test",
        "ui": "e09cfd48728aad39",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "ce70820df616b739",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e09cfd48728aad39",
        "type": "ui-base",
        "name": "Default UI",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "ce70820df616b739",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "e5689f4a51238c66",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-ping": "0.3.3"
        }
    }
]