node-red/Unit_Tests.json
[
    {
        "id": "8b7d06cf1eb39e35",
        "type": "tab",
        "label": "bacnet-esp-tests",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a03fc88433b38bf0",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "TO CONFIGURE",
        "func": "flow.set('ip', \"192.168.1.106\");\nflow.set('port', \"47808\");\nflow.set('ipBroadcast', \"192.168.1.255\");\nflow.set('sourcePort',\"48809\");\nflow.set('connectivityType',\"WiFi\"); /* WiFi/4G */\nflow.set('deviceInstance',1234 );\nflow.set('UTC+',2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "2b91705ccea3242a",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "a03fc88433b38bf0"
            ]
        ]
    },
    {
        "id": "808e00b29b95bacf",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "37c6a4251a03e593"
            ]
        ]
    },
    {
        "id": "9ea210555d1bddeb",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "weekly schedule",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 460,
        "wires": [
            [
                "63e328cf752afec8"
            ]
        ]
    },
    {
        "id": "75a95b66c42487f0",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "Connectivity (4G/WiFi) (0)",
        "func": "if (msg.payload != false)\n{\nlet temp = flow.get(\"tests\");\ntemp.connectivity = true;\nflow.set(\"tests\", temp);\n}\nlet step = flow.get('step');\nstep++;\nflow.set('step',step);\nmsg.payload = \"START\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "f26b2cdf2897e850"
            ]
        ]
    },
    {
        "id": "63e328cf752afec8",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "special event",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 460,
        "wires": [
            [
                "c186a1a9bcaca7f8"
            ]
        ]
    },
    {
        "id": "298077ef917bc4e4",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "ephemeride (2)",
        "func": "let step = flow.get('step');\n    let client = new bacnet.default({\n        apduTimeout: 2000,\n        broadcastAddress: flow.get('ipBroadcast'),\n        port: flow.get('port'),\n        maxSegments: bacnet.MaxSegmentsAccepted.SEGMENTS_65\n    });\n\n\n    switch (msg.payload)   \n    {\n        default:\n             let datevalue = await client.readProperty({\n                address: flow.get('ip')\n            }, {\n                instance: flow.get('deviceInstance'),\n                type: 8\n            }, bacnet.PropertyIdentifier.LOCAL_DATE);\n\n            let timevalue = await client.readProperty({\n                address: flow.get('ip')\n            }, {\n                instance: flow.get('deviceInstance'),\n                type: 8\n            }, bacnet.PropertyIdentifier.LOCAL_TIME);\n            let nightStartTime;\n            let nightEndTime;\n            let bacnetFullTime = bacnettimeConverter(datevalue.values[0].value, timevalue.values[0].value);\n            msg.payload = 'Are the night start/end times correct? \\n Press OK/NOT OK. \\n device time : ' + bacnetFullTime + '. \\n night start time: ' + nightStartTime + '. \\n night end time: ' + nightEndTime;\n            node.send([null, msg]);\n            break;\n        case (\"DONE\"):\n            \n            break;\n        case (\"OK\"):\n            step++;\n            node.warn(\"oops\");\n            flow.set('step',step);\n  \n            break;\n        case (\"NOK\"):\n            step++;\n            flow.set('step',step);\n            break;\n        case (\"SKIP\"):\n            step++;\n            flow.set('step',step);\n            break;\n    }\n\n\n\n function bacnettimeConverter(bacnetDate, bacnetTime) \n {\n    let date = \"\";\n    let time = \"\";\n    for (let i = 4; i < 15; i++) {\n        date += bacnetDate.toString()[i];\n    }\n    for (let i = 16; i < 24; i++) {\n\n        time += bacnetTime.toString()[i];\n\n    }\n    var bacnetFullTime = date + ' ' + time;\n    return bacnetFullTime;\n }\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bacnet",
                "module": "@bacnet-js/client"
            }
        ],
        "x": 540,
        "y": 300,
        "wires": [
            [
                "417afc8558e80980"
            ],
            [
                "bfcdae28443c3b9f"
            ]
        ]
    },
    {
        "id": "417afc8558e80980",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "manuel mode ",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "0a0531a372144889"
            ]
        ]
    },
    {
        "id": "0a0531a372144889",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "auto mode ",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 380,
        "wires": [
            [
                "a0b4d0f75b45b296"
            ]
        ]
    },
    {
        "id": "a0b4d0f75b45b296",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "mode switch",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "9ea210555d1bddeb"
            ]
        ]
    },
    {
        "id": "c186a1a9bcaca7f8",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "muti state values light state",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 500,
        "wires": [
            [
                "fa91416b19c88d32"
            ]
        ]
    },
    {
        "id": "fa91416b19c88d32",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "muti state values control mode ",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 540,
        "wires": [
            [
                "915a6ec5153742f5"
            ]
        ]
    },
    {
        "id": "915a6ec5153742f5",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "trend log",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 580,
        "wires": [
            [
                "859187eca8bebf59"
            ]
        ]
    },
    {
        "id": "859187eca8bebf59",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "set to date bacnet service",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 620,
        "wires": [
            [
                "7e4c02040840e566"
            ]
        ]
    },
    {
        "id": "7e4c02040840e566",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "server",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 660,
        "wires": [
            [
                "e129e2a083baae01"
            ]
        ]
    },
    {
        "id": "e129e2a083baae01",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "4G with WiFi acces point",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 700,
        "wires": [
            [
                "02213e2256d09d5b"
            ]
        ]
    },
    {
        "id": "91646748b2cb0baa",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "robustness",
        "func": "let step = flow.get('step');\nif(step == 2)\n{\n    let client = new bacnet.default({\n        apduTimeout: 2000,\n        broadcastAddress: flow.get('ipBroadcast'),\n        port: flow.get('port'),\n        maxSegments: bacnet.MaxSegmentsAccepted.SEGMENTS_65\n    });\n\n\n    switch (msg.payload)   \n    {\n        case (\"START\"):\n\n            break;\n        case (\"DONE\"):\n            \n            break;\n        case (\"OK\"):\n            step++;\n            flow.set('step',step);\n            break;\n        case (\"NOK\"):\n            step++;\n            flow.set('step',step);\n            break;\n        case (\"SKIP\"):\n            step++;\n            flow.set('step',step);\n            break;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bacnet",
                "module": "@bacnet-js/client"
            }
        ],
        "x": 550,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "02213e2256d09d5b",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "create object",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 740,
        "wires": [
            [
                "91646748b2cb0baa"
            ]
        ]
    },
    {
        "id": "37c6a4251a03e593",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "tests list",
        "func": "let tests = \n{\n    connectivity: false,\n    ntp_sync: false,\n    web_server: false,\n    rtc: false,\n    ephemeride: false,\n    manuel_mode: false,\n    auto_mode: false,\n    mode_switch: false,\n    weekly_schedule: false,\n    special_event: false,\n    multi_state_values_light_state: false,\n    multi_state_values_control_mode: false,\n    trend_log: false,\n    set_to_date_bacnet_service: false,\n    wiFi_acces_point_with_4G: false,\n    create_object: false,\n    robustness: false\n};\n\nlet step = 0;\n\nflow.set('step',step);\nflow.set('tests',tests);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 120,
        "wires": [
            [
                "e672621317826fc7"
            ]
        ]
    },
    {
        "id": "2b62f5bbac4c90d6",
        "type": "ui-button",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "DONE button",
        "label": "Done",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "DONE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 920,
        "y": 700,
        "wires": [
            [
                "ef27b18ffdbd21c6"
            ]
        ]
    },
    {
        "id": "85de2ef0db0f8969",
        "type": "ui-button",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "OK button",
        "label": "OK",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "OK",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#23FF23",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 910,
        "y": 660,
        "wires": [
            [
                "f3d1d26f28211c5c"
            ]
        ]
    },
    {
        "id": "a0fa3c63b231b6e6",
        "type": "ui-button",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "NOT OK button",
        "label": "NOT OK",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "NOK",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#FF2323",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 930,
        "y": 620,
        "wires": [
            [
                "d3a4b342507cd390"
            ]
        ]
    },
    {
        "id": "0e82609a69fe1692",
        "type": "ui-text",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "instructions",
        "label": "Instructions",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#3c3939",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 920,
        "y": 580,
        "wires": []
    },
    {
        "id": "d3a4b342507cd390",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out NOT OK button",
        "mode": "link",
        "links": [
            "eb3aa5c9d5956840",
            "73d419fe4c387636",
            "6b2b0457c475e340",
            "185f06ecc2f89399",
            "026952e6f228508e"
        ],
        "x": 1045,
        "y": 620,
        "wires": []
    },
    {
        "id": "f3d1d26f28211c5c",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out OK button",
        "mode": "link",
        "links": [
            "eb3aa5c9d5956840",
            "73d419fe4c387636",
            "6b2b0457c475e340",
            "185f06ecc2f89399",
            "026952e6f228508e"
        ],
        "x": 1005,
        "y": 660,
        "wires": []
    },
    {
        "id": "ef27b18ffdbd21c6",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out Done button",
        "mode": "link",
        "links": [
            "eb3aa5c9d5956840",
            "73d419fe4c387636",
            "6b2b0457c475e340",
            "185f06ecc2f89399",
            "026952e6f228508e"
        ],
        "x": 1025,
        "y": 700,
        "wires": []
    },
    {
        "id": "d0d2f6f6da733d09",
        "type": "link in",
        "z": "8b7d06cf1eb39e35",
        "name": "link in instructions",
        "links": [
            "e9a70ca434d50595",
            "bfcdae28443c3b9f"
        ],
        "x": 815,
        "y": 580,
        "wires": [
            [
                "0e82609a69fe1692"
            ]
        ]
    },
    {
        "id": "e9a70ca434d50595",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out RTC instructions",
        "mode": "link",
        "links": [
            "d0d2f6f6da733d09"
        ],
        "x": 705,
        "y": 180,
        "wires": []
    },
    {
        "id": "27cf69f1bf400d1e",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 780,
        "y": 620,
        "wires": [
            [
                "a0fa3c63b231b6e6"
            ]
        ]
    },
    {
        "id": "73d917d407b1a40f",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 780,
        "y": 660,
        "wires": [
            [
                "85de2ef0db0f8969"
            ]
        ]
    },
    {
        "id": "e40d43d34bc1afb0",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 780,
        "y": 700,
        "wires": [
            [
                "2b62f5bbac4c90d6"
            ]
        ]
    },
    {
        "id": "b1fd28e5041f6986",
        "type": "ui-button",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "Skip step button",
        "label": "Skip step",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "SKIP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#FFFF00",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 930,
        "y": 740,
        "wires": [
            [
                "4a188a87b5126d29"
            ]
        ]
    },
    {
        "id": "4a188a87b5126d29",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out Skip step button",
        "mode": "link",
        "links": [
            "eb3aa5c9d5956840",
            "73d419fe4c387636",
            "6b2b0457c475e340",
            "185f06ecc2f89399",
            "026952e6f228508e"
        ],
        "x": 1055,
        "y": 740,
        "wires": []
    },
    {
        "id": "b00f4e05f01a69af",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 780,
        "y": 740,
        "wires": [
            [
                "b1fd28e5041f6986"
            ]
        ]
    },
    {
        "id": "f960bacc052be1b0",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 40,
        "wires": [
            [
                "e3dd665a96912f8a"
            ]
        ]
    },
    {
        "id": "e3dd665a96912f8a",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "Clock",
        "func": "let timeS = (msg.payload/1000) + 3600*flow.get('UTC+');\nflow.set(\"time\", timeS.toString())\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e672621317826fc7",
        "type": "ping",
        "z": "8b7d06cf1eb39e35",
        "protocol": "IPv4",
        "mode": "triggered",
        "name": "",
        "host": "192.168.1.106",
        "timer": "20",
        "inputs": 1,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "75a95b66c42487f0"
            ]
        ]
    },
    {
        "id": "d8200f5432fa66a6",
        "type": "ui-button",
        "z": "8b7d06cf1eb39e35",
        "group": "1e5232f94244e6dc",
        "name": "Start test button",
        "label": "Start tests",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#FFFFFF",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 240,
        "y": 80,
        "wires": [
            [
                "37c6a4251a03e593"
            ]
        ]
    },
    {
        "id": "33436ed1e0121e48",
        "type": "inject",
        "z": "8b7d06cf1eb39e35",
        "name": "Start",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "d8200f5432fa66a6"
            ]
        ]
    },
    {
        "id": "bfcdae28443c3b9f",
        "type": "link out",
        "z": "8b7d06cf1eb39e35",
        "name": "link out RTC instructions",
        "mode": "link",
        "links": [
            "d0d2f6f6da733d09"
        ],
        "x": 705,
        "y": 220,
        "wires": []
    },
    {
        "id": "eb3aa5c9d5956840",
        "type": "link in",
        "z": "8b7d06cf1eb39e35",
        "name": "link in RTC instructions",
        "links": [
            "d3a4b342507cd390",
            "ef27b18ffdbd21c6",
            "f3d1d26f28211c5c",
            "4a188a87b5126d29"
        ],
        "x": 65,
        "y": 340,
        "wires": [
            [
                "65e97c97ea4d0466"
            ]
        ]
    },
    {
        "id": "f26b2cdf2897e850",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "NTP sync (1)",
        "func": "    let step = flow.get('step');\n    let client = new bacnet.default({\n        apduTimeout: 2000,\n        broadcastAddress: flow.get('ipBroadcast'),\n        port: flow.get('port'),\n        maxSegments: bacnet.MaxSegmentsAccepted.SEGMENTS_65\n    });\n\n    switch (msg.payload) {\n\n\n        case (\"START\"):\n\n            msg.payload = \"Eteindre le device testé, attendre un moment arbitraire, le rallumer. Une fois rallumé, cliquer sur le bouton 'Done'\";\n            node.send([null, msg]);\n            break;\n        case (\"DONE\"):\n            let datevalue = await client.readProperty({\n                address: flow.get('ip')\n            }, {\n                instance: flow.get('deviceInstance'),\n                type: 8\n            }, bacnet.PropertyIdentifier.LOCAL_DATE);\n\n            let timevalue = await client.readProperty({\n                address: flow.get('ip')\n            }, {\n                instance: flow.get('deviceInstance'),\n                type: 8\n            }, bacnet.PropertyIdentifier.LOCAL_TIME);\n\n            let parsedTime = timeConverter(flow.get('time'));\n            let bacnetFullTime = bacnettimeConverter(datevalue.values[0].value, timevalue.values[0].value);\n            msg.payload = 'Is the device current time conform ? \\n Press OK/NOT OK. \\n device time : ' + bacnetFullTime + ' \\n UTC time : ' + parsedTime;\n            node.send([null, msg]);\n            break;\n        case (\"OK\"):\n            let temp = flow.get(\"tests\");\n            temp.ntp_sync = true;\n            flow.set(\"tests\", temp);\n            msg.payload = \"ntp sync OK\";\n            node.send([null, msg]);\n            msg.payload = \"START\";\n            step++;\n            node.warn(\"going to step\" +  step);\n            flow.set('step',step);\n            return [msg, null];\n            break;\n        case (\"NOK\"):\n            msg.payload = \"ntp sync not OK\";\n            node.send([null, msg]);\n            msg.payload = \"START\";\n            step++;\n            node.warn(\"going to step\" +  step);\n            flow.set('step',step);\n            return [msg, null];\n            break;\n        case (\"SKIP\"):\n            msg.payload = \"Skipped\";\n            node.send([null, msg]);\n            msg.payload = \"START\";\n            step++;\n            node.warn(\"going to step\" +  step);\n            flow.set('step',step);\n            return [msg, null];\n            break;\n\n    }\n\n    function timeConverter(UNIX_timestamp) {\n        var a = new Date(UNIX_timestamp * 1000);\n        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];\n        var year = a.getFullYear();\n        var month = months[a.getMonth()];\n        var date = a.getDate();\n        var hour = a.getHours();\n        var min = a.getMinutes();\n        var sec = a.getSeconds();\n        var time = month + ' ' + date + ' ' + year + ' ' + hour + ':' + min + ':' + sec;\n        return time;\n    }\n\n    function bacnettimeConverter(bacnetDate, bacnetTime) {\n        let date = \"\";\n        let time = \"\";\n        for (let i = 4; i < 15; i++) {\n            date += bacnetDate.toString()[i];\n        }\n        for (let i = 16; i < 24; i++) {\n\n            time += bacnetTime.toString()[i];\n\n        }\n        var bacnetFullTime = date + ' ' + time;\n        return bacnetFullTime;\n    }\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bacnet",
                "module": "@bacnet-js/client"
            }
        ],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "46e019e2cfaabe93"
            ],
            [
                "e9a70ca434d50595"
            ]
        ]
    },
    {
        "id": "65e97c97ea4d0466",
        "type": "function",
        "z": "8b7d06cf1eb39e35",
        "name": "Switch",
        "func": "let step = flow.get('step');\nswitch(step)\n{\n    case 1:\n    return[msg,null]\n\n    case 2:\n    return[null,msg]\n    \n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 340,
        "wires": [
            [
                "f26b2cdf2897e850"
            ],
            [
                "298077ef917bc4e4"
            ]
        ]
    },
    {
        "id": "46e019e2cfaabe93",
        "type": "http request",
        "z": "8b7d06cf1eb39e35",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.106",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 260,
        "wires": [
            [
                "1cb1e03415431f1d",
                "74b405e167ba5d9a"
            ]
        ]
    },
    {
        "id": "1cb1e03415431f1d",
        "type": "debug",
        "z": "8b7d06cf1eb39e35",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "74b405e167ba5d9a",
        "type": "html",
        "z": "8b7d06cf1eb39e35",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "sol",
        "ret": "html",
        "as": "single",
        "chr": "_",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "7b4a1641311915d4",
                "298077ef917bc4e4"
            ]
        ]
    },
    {
        "id": "7b4a1641311915d4",
        "type": "debug",
        "z": "8b7d06cf1eb39e35",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 300,
        "wires": []
    },
    {
        "id": "1e5232f94244e6dc",
        "type": "ui-group",
        "name": "Group 1",
        "page": "88c9c2fc2be39fca",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "88c9c2fc2be39fca",
        "type": "ui-page",
        "name": "Esps3_unit _test",
        "ui": "e09cfd48728aad39",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "ce70820df616b739",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e09cfd48728aad39",
        "type": "ui-base",
        "name": "Default UI",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "ce70820df616b739",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "cc66d78e5fc8d536",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-ping": "0.3.3"
        }
    }
]